*{
   
}
h2{
    font-family: 'Acme', sans-serif;
}
h6{
    font-family: 'Acme', sans-serif;
}
h3{
    font-family: 'Roboto Slab', serif;
}

.container-fluid{ 
    background: linear-gradient(to right top, #007c65, #057b8d);
}
.glass{ 
    background-color: rgba(255, 255, 255, 0.582);

    border-radius: 15px;
 
}

.card{
    background-color: white;
    border-radius: 20px; 
}
.card-2{
    background-color: white;
    border-radius: 5px;
    height: 30px;
     
}


.dropdown:hover>.dropdown-menu {
    display: block;
  }

  ul li{
      margin: 2px;
      background-color: white;
      border-radius: 5px;
  }

  .navbar{
      margin-top: -5px;
  }

  .profile-pic{
      height: 120px;
      width: 120px;
      border-radius: 20px;
  }

  .edu-icon{ 
      background-color: white;
      border-radius: 5px; 
  }
  .edu-details{
      background-color: white;
      border-radius: 5px;
      
  }

  .carousel-item
  {
      max-height: 80vh; 
  }


  .publication-url{
       
  }

  .publication-italic{
      font-style: italic;
  }

  #footer{
      border-radius: 15px;
  }

 